In [1]:
# Doubts

In [2]:
print ('P' in [10,10.20,10+20j,'Python'])

False

In [3]:
l1 = [10,10.20,10+20j,'Python']

In [4]:
l1

[10, 10.2, (10+20j), 'Python']

In [5]:
'P' in l1

False

In [6]:
l1[-1]

'Python'

In [7]:
'P' in l1[-1]

True

In [8]:
# Dictionary
# comma separated collection of ley-value pairs enclosed within {}
# {key1:value1, key2:value2, ......}

# No indexing
# We fetch the value using the key

# Mutable
# Keys should be unique (non-duplicate), Values can be duplicate
# Keys should be only immutable datatypes
# Values can be any datatype

In [9]:
student1 = {'rollno': 1234, 'name': 'Jill', 'percent': 89.5}

In [10]:
type(student1)

dict

In [11]:
# dict => Dictionary datatype

In [12]:
student1

{'rollno': 1234, 'name': 'Jill', 'percent': 89.5}

In [13]:
len(student1)

3

In [14]:
student1[0]

KeyError: 0

In [15]:
student1['rollno']

1234

In [16]:
student1

{'rollno': 1234, 'name': 'Jill', 'percent': 89.5}

In [17]:
student1['percent']

89.5

In [18]:
student1['name']

'Jill'

In [19]:
student1['grade']

KeyError: 'grade'

In [20]:
# If the key is not present in the dictionary and we try to fetch the value of it, Python gives an error

In [21]:
student1

{'rollno': 1234, 'name': 'Jill', 'percent': 89.5}

In [22]:
student1['percent'] = 88.5

In [23]:
student1

{'rollno': 1234, 'name': 'Jill', 'percent': 88.5}

In [24]:
student1['grade'] = 'B'

In [25]:
student1

{'rollno': 1234, 'name': 'Jill', 'percent': 88.5, 'grade': 'B'}

In [26]:
id(student1)

2859277395136

In [27]:
student1['city'] = 'Bangalore'

In [28]:
student1

{'rollno': 1234,
 'name': 'Jill',
 'percent': 88.5,
 'grade': 'B',
 'city': 'Bangalore'}

In [29]:
id(student1)

2859277395136

In [30]:
ascii_pair = {65: 'A', 66: 'B', 97: 'a'}

In [32]:
ascii_pair

{65: 'A', 66: 'B', 97: 'a'}

In [33]:
student1

{'rollno': 1234,
 'name': 'Jill',
 'percent': 88.5,
 'grade': 'B',
 'city': 'Bangalore'}

In [34]:
student1['name'] = 'Jack'

In [35]:
student1

{'rollno': 1234,
 'name': 'Jack',
 'percent': 88.5,
 'grade': 'B',
 'city': 'Bangalore'}

In [36]:
student2 = {'rollno':1111, 'name':'Carol', 'grade':'A', 'rollno':1123}

In [37]:
student2

{'rollno': 1123, 'name': 'Carol', 'grade': 'A'}

In [38]:
subjects = {'maths': 90.5, 'physics': 78.0, 'chemistry': 61.0, 'python': 90.5}

In [39]:
subjects

{'maths': 90.5, 'physics': 78.0, 'chemistry': 61.0, 'python': 90.5}

In [40]:
d1 = {'name': 'Mark', 1 : 'one'}

In [41]:
d1

{'name': 'Mark', 1: 'one'}

In [42]:
d2 = {True:1, False:0}

In [43]:
d2

{True: 1, False: 0}

In [44]:
d3 = {[1,2,3]: 6, [10, 20]: 30}

TypeError: unhashable type: 'list'

In [45]:
d3 = {(1,2,3): 6, (10, 20): 30}

In [46]:
d3

{(1, 2, 3): 6, (10, 20): 30}

In [47]:
d3 = {{1,2,3}: 6, {10, 20}: 30}

TypeError: unhashable type: 'set'

In [48]:
set1 = {10, 3, -1}

In [49]:
set1

{-1, 3, 10}

In [50]:
list(set1)

[10, 3, -1]

In [51]:
set1

{-1, 3, 10}

In [52]:
tuple(set1)

(10, 3, -1)

In [53]:
l1 = [1,2,3,4,5]

In [54]:
l1

[1, 2, 3, 4, 5]

In [55]:
tuple(l1)

(1, 2, 3, 4, 5)

In [56]:
d5 = {'marks': [91.0, 67.5, 88.5]}

In [57]:
student3 = {'rollno': 111, 'name': 'Ross', 'marks': {'maths': 90.5, 'phy': 78.5, 'chem': 67.5}}

In [58]:
student3

{'rollno': 111,
 'name': 'Ross',
 'marks': {'maths': 90.5, 'phy': 78.5, 'chem': 67.5}}

In [59]:
# Fetch the marks of phy for student3

In [60]:
student3['marks']

{'maths': 90.5, 'phy': 78.5, 'chem': 67.5}

In [61]:
student3['marks']['phy']

78.5

In [62]:
student1

{'rollno': 1234,
 'name': 'Jack',
 'percent': 88.5,
 'grade': 'B',
 'city': 'Bangalore'}

In [63]:
# in operator

In [64]:
1234 in student1

False

In [65]:
'name' in student1

True

In [66]:
student1

{'rollno': 1234,
 'name': 'Jack',
 'percent': 88.5,
 'grade': 'B',
 'city': 'Bangalore'}

In [67]:
list(student1)

['rollno', 'name', 'percent', 'grade', 'city']

In [68]:
l2 = [1,1,1,1,1,0,8]

In [69]:
l2

[1, 1, 1, 1, 1, 0, 8]

In [70]:
set(l2)

{0, 1, 8}

In [71]:
dict(l2)

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In [74]:
# Mutable datatypes: list, set, dict
# Immutable datatypes: int, float, str, bool, None, tuple, complex

In [75]:
student1

{'rollno': 1234,
 'name': 'Jack',
 'percent': 88.5,
 'grade': 'B',
 'city': 'Bangalore'}

In [76]:
# Fetch all the keys of the dictionary

In [77]:
student1.keys()

dict_keys(['rollno', 'name', 'percent', 'grade', 'city'])

In [78]:
k1 = student1.keys()

In [79]:
k1

dict_keys(['rollno', 'name', 'percent', 'grade', 'city'])

In [80]:
type(k1)

dict_keys

In [81]:
# Fetch all the values of the dictionary

In [82]:
student1.values()

dict_values([1234, 'Jack', 88.5, 'B', 'Bangalore'])

In [83]:
v1 = student1.values()

In [84]:
v1

dict_values([1234, 'Jack', 88.5, 'B', 'Bangalore'])

In [85]:
type(v1)

dict_values

In [86]:
k1[0]

TypeError: 'dict_keys' object is not subscriptable

In [87]:
v1[0]

TypeError: 'dict_values' object is not subscriptable

In [88]:
list(v1)

[1234, 'Jack', 88.5, 'B', 'Bangalore']

In [89]:
l1 = list(v1)

In [90]:
l1

[1234, 'Jack', 88.5, 'B', 'Bangalore']

In [91]:
l1[0]

1234

In [92]:
subjects

{'maths': 90.5, 'physics': 78.0, 'chemistry': 61.0, 'python': 90.5}

In [93]:
subjects.values()

dict_values([90.5, 78.0, 61.0, 90.5])

In [94]:
# sum() => adds all the values in a collection

In [95]:
sum(subjects.values())

320.0

In [96]:
sum(subjects.values()) / 4

80.0

In [97]:
sum(subjects.values()) / len(subjects)

80.0

In [98]:
a = {1, 2, 3}

In [99]:
b = {'a': 1, 'b': 2, 'c': 3}

In [100]:
type(a)

set

In [101]:
type(b)

dict

In [102]:
l1 = []

In [103]:
type(l1)

list

In [104]:
t1 = ()

In [105]:
type(t1)

tuple

In [106]:
var1 = {}

In [107]:
type(var1)

dict

In [108]:
set1 = set()

In [109]:
type(set1)

set

In [110]:
l2 = list()

In [111]:
type(l2)

list

In [112]:
# Empty String => '', "", ''''''
# Empty list => [], list()
# Empty tuple => (), tuple()
# Empty set => set()
# Empty dict => {}, dict()

In [113]:
var2 = dict()

In [114]:
type(var2)

dict

In [115]:
dict([1,2,3])

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In [116]:
dict([1,2,3], [10, 20, 30])

TypeError: dict expected at most 1 argument, got 2

In [117]:
dict([[1,2,3], [10, 20, 30]])

ValueError: dictionary update sequence element #0 has length 3; 2 is required