In [1]:
# Assignments doubts => int, bool, float, complex, conditional

In [2]:
print(10+(10*32)//2**5&20+(~(-10))<<2)

20

In [4]:
#  Q. W A P which takes three numbers from the user and prints below
# output:-
#  1. num1 is greater than num2 and num3 if num1 is greater than num2
# and num3
#  2. num2 is greater than num1 and num3 if num2 is greater than num1
# and num3
#  3. num3 is greater than num1 and num2 if num3 is greater than num1
# and num2

# Note:- 1. Do this problem using if - elif - else
#  2. Do this using ternary operator
# a = a if a>b else b

In [5]:
if num1 > num2 and num1 > num3:
    print("num1 is greater than num2 and num3")
elif num2 > num1 and num2 > num3:
    print("num2 is greater than num1 and num3")
elif num3 > num1 and num3 > num2:

NameError: name 'num1' is not defined

In [6]:
num1 = 10
num2 = 90
num3 = 8

if num1 > num2 and num1 > num3:
    print("num1 is greater than num2 and num3")
elif num2 > num1 and num2 > num3:
    print("num2 is greater than num1 and num3")
elif num3 > num1 and num3 > num2:
    print("num3 is greater than num1 and num2")

num2 is greater than num1 and num3

In [9]:
print(0+0j and 0+0j)

0j

In [10]:
# Q. W A P to check whether a year entered by user is an leap year or not?
# Check with below input:-
#  leap year:- 2012, 1968, 2004, 1200, 1600,2400
#  Non-lear year:- 1971, 2006, 1700,1800,1900

In [11]:
EnterYear=int(input("Enter the calander year:"))

if EnterYear%4==0:
    print("It's leap year")
        
else:
    print("It's non leap year")

Enter the calander year:2000
It's leap year

In [12]:
EnterYear=int(input("Enter the calander year:"))

if EnterYear%4==0:
    print("It's leap year")
        
else:
    print("It's non leap year")

Enter the calander year:1900
It's leap year

In [13]:
# if the year if divisible by 4 and not divisble by 100 => its a leap year
# OR
# if the year is divisible by 400 => it is leap year

In [14]:
year = 1900
if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print("Leap year")
else:
    print("Non leap year")

Non leap year

In [15]:
year = 2000
if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print("Leap year")
else:
    print("Non leap year")

Leap year

In [16]:
year = 1600
if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print("Leap year")
else:
    print("Non leap year")

Leap year

In [17]:
s1 = "Hello"

In [18]:
s1

'Hello'

In [19]:
s2 = 'mango,apple,orange,grapes'

In [20]:
s2

'mango,apple,orange,grapes'

In [21]:
s2.split(',', 1)

['mango', 'apple,orange,grapes']

In [22]:
help(s2.split)

Help on built-in function split:

split(sep=None, maxsplit=-1) method of builtins.str instance
    Return a list of the substrings in the string, using sep as the separator string.

      sep
        The separator used to split the string.

        When set to None (the default value), will split on any whitespace
        character (including \\n \\r \\t \\f and spaces) and will discard
        empty strings from the result.
      maxsplit
        Maximum number of splits (starting from the left).
        -1 (the default value) means no limit.

    Note, str.split() is mainly useful for data that has been intentionally
    delimited.  With natural text that includes punctuation, consider using
    the regular expression module.