In [1]:
def greet(name):
    print(f"Good evening {name}")

In [2]:
greet("Carol")

Good evening Carol

In [3]:
greet("Jack")
print("Bye")

Good evening Jack
Bye

In [4]:
l1 = [1,2,3,4]

In [5]:
len(l1)

4

In [6]:
help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

In [7]:
help(greet)

Help on function greet in module __main__:

greet(name)

In [8]:
greet(10)

Good evening 10

In [9]:
# docstring

In [10]:
def greet(name):
    '''
    This function is used to greet a person.
    name: The name of the person to greet.
    '''
    print(f"Good evening {name}")

In [11]:
help(greet)

Help on function greet in module __main__:

greet(name)
    This function is used to greet a person.
    name: The name of the person to greet.

In [12]:
def even_odd(num):
    """
    This function takes an integer and prints if that integer is Odd or Even.
    num: int to check Odd/Even
    """
    
    if num % 2 == 0:
        print("Even")
    else:
        print("Odd")

In [13]:
even_odd(10)

Even

In [14]:
even_odd(11)

Odd

In [15]:
l1

[1, 2, 3, 4]

In [16]:
help(l1.append)

Help on built-in function append:

append(object, /) method of builtins.list instance
    Append object to the end of the list.

In [17]:
help(append)

NameError: name 'append' is not defined

In [18]:
help(l1.pop)

Help on built-in function pop:

pop(index=-1, /) method of builtins.list instance
    Remove and return item at index (default last).

    Raises IndexError if list is empty or index is out of range.

In [19]:
# A function may or may not return something

In [20]:
l1

[1, 2, 3, 4]

In [21]:
value = l1.pop(2)

In [22]:
value

3

In [23]:
value2 = l1.append(10)

In [24]:
l1

[1, 2, 4, 10]

In [25]:
print(value2)

None

In [26]:
# If a function does not return anything, it returns None!!!

In [27]:
value3 = even_odd(88)

Even

In [28]:
print(value3)

None

In [29]:
# How to return a value from a function???
# return keyword

In [30]:
def even_odd(num):
    """
    This function takes an integer and returns if that integer is Odd or Even.
    num: int to check Odd/Even
    """
    
    if num % 2 == 0:
        return "Even"
    else:
        return "Odd"

In [31]:
value4 = even_odd(77)

In [32]:
print(value4)

Odd

In [33]:
def add(num1, num2):
    return num1 + num2

In [34]:
add(10, 20)

30

In [35]:
def arithmetic_function(num1, num2):
    addition = num1 + num2
    return addition
    sub = num1 - num2
    return sub
    multiply = num1 * num2
    return multiply

In [36]:
val = arithmetic_function(10, 4)

In [37]:
print(val)

14

In [38]:
def arithmetic_function(num1, num2):
    addition = num1 + num2
    sub = num1 - num2
    multiply = num1 * num2
    return addition, sub, multiply

In [39]:
val = arithmetic_function(10, 5)

In [40]:
print(val)

(15, 5, 50)

In [41]:
type(val)

tuple

In [42]:
x, y, z = arithmetic_function(20, 10)

In [43]:
x

30

In [44]:
y

10

In [45]:
z

200

In [46]:
help(arithmetic_function)

Help on function arithmetic_function in module __main__:

arithmetic_function(num1, num2)

In [47]:
greet_person("Mark")

NameError: name 'greet_person' is not defined

In [48]:
greet("Mark")

Good evening Mark

In [49]:
print(greet("Mark"))

Good evening Mark
None

In [50]:
print(even_odd(88))

Even

In [51]:
help(arithmetic_function)

Help on function arithmetic_function in module __main__:

arithmetic_function(num1, num2)

In [52]:
arithmetic_function(1,4)

(5, -3, 4)

In [53]:
arithmetic_function(10, 20, 30)

TypeError: arithmetic_function() takes 2 positional arguments but 3 were given

In [54]:
arithmetic_function(1)

TypeError: arithmetic_function() missing 1 required positional argument: 'num2'

In [55]:
arithmetic_function()

TypeError: arithmetic_function() missing 2 required positional arguments: 'num1' and 'num2'

In [56]:
arithmetic_function(10, 'hi')

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [57]:
# isinstance(value, datatype)

In [58]:
isinstance(10, int) # is 10 an initeger?

True

In [59]:
isinstance("Hello", str) # Is "Hello" a string?

True

In [60]:
isinstance("hi", int) # Is 'hi' an integer?

False

In [61]:
def arithmetic_function(num1, num2):
    if isinstance(num1, int) and isinstance(num2, int):
        addition = num1 + num2
        sub = num1 - num2
        multiply = num1 * num2
        return addition, sub, multiply
    else:
        return "Operation NOT supported. Please provide integers only!!"

In [62]:
arithmetic_function(10, 'hi')

'Operation NOT supported. Please provide integers only!!'

In [63]:
# Types of arguments

In [64]:
# Positional arguments

In [65]:
def add(a, b):
    return a + b

In [66]:
# Here, a and b are positional arguments

In [67]:
add(10, 20)

30

In [68]:
# Default arguemnts
# The argument which is used make optional arguments

In [69]:
def add(a, b=1):
    return a + b

In [70]:
add(10, 20)

30

In [71]:
add(10)

11

In [72]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [73]:
print(10, 20, 30)

10 20 30

In [74]:
print(10, 20, 30, sep="#")

10#20#30

In [75]:
help(add)

Help on function add in module __main__:

add(a, b=1)

In [76]:
add()

TypeError: add() missing 1 required positional argument: 'a'

In [77]:
add(10,)

11

In [80]:
def add_three(a, b=1, c=2):
    print(f"a: {a}")
    print(f"b: {b}")
    print(f"c: {c}")
    return a + b + c

In [81]:
# a => positional argument
# b, c => default arguments

In [82]:
add_three(1, 2, 3)

a: 1
b: 2
c: 3

6

In [83]:
add_three(10, 20)

a: 10
b: 20
c: 2

32

In [84]:
help(add_three)

Help on function add_three in module __main__:

add_three(a, b=1, c=2)

In [85]:
add_three(5)

a: 5
b: 1
c: 2

8

In [86]:
add_three()

TypeError: add_three() missing 1 required positional argument: 'a'

In [87]:
help(add_three)

Help on function add_three in module __main__:

add_three(a, b=1, c=2)

In [88]:
add_three(10, , 50)

SyntaxError: invalid syntax (255318337.py, line 1)

In [89]:
add_three(10,50)

a: 10
b: 50
c: 2

62

In [90]:
add_three(10, 50)

a: 10
b: 50
c: 2

62

In [91]:
help(add_three)

Help on function add_three in module __main__:

add_three(a, b=1, c=2)

In [92]:
add_three(10,\,50)

SyntaxError: unexpected character after line continuation character (3235818421.py, line 1)

In [93]:
print(10, 20, 30, sep='#')

10#20#30

In [94]:
help(add_three)

Help on function add_three in module __main__:

add_three(a, b=1, c=2)

In [95]:
add_three(10, c=50)

a: 10
b: 1
c: 50

61

In [96]:
# Keyword argument

In [97]:
add_three(a=10, c=50)

a: 10
b: 1
c: 50

61

In [98]:
help(add_three)

Help on function add_three in module __main__:

add_three(a, b=1, c=2)

In [99]:
add_three(c=30, a=20, b=50)

a: 20
b: 50
c: 30

100

In [100]:
add_three(10, b=20, x=5)

TypeError: add_three() got an unexpected keyword argument 'x'

In [101]:
def add_three(a=1, b, c=3):
    return a + b + c

SyntaxError: non-default argument follows default argument (670955716.py, line 1)

In [102]:
# Default arguments should come after the non-default arguments in the function defination

In [103]:
def add_three(b, a=1, c=3):
    return a + b + c

In [104]:
add_three(10)

14

In [107]:
add_three(10, 20)

33

In [108]:
add_three(10, 20, 5)

35

In [109]:
add_three(10, 20, 5, 20)

TypeError: add_three() takes from 1 to 3 positional arguments but 4 were given

In [110]:
add_three(1,2,3,4,5)

TypeError: add_three() takes from 1 to 3 positional arguments but 5 were given

In [111]:
help(add_three)

Help on function add_three in module __main__:

add_three(b, a=1, c=3)

In [112]:
add_three()

TypeError: add_three() missing 1 required positional argument: 'b'

In [113]:
def add_three(a=1,b=2,c=3):
    return a + b + c

In [114]:
add_three()

6

In [115]:
add_three(10)

15

In [116]:
add_three(10, 20)

33

In [117]:
add_three(10, 20, 30)

60

In [118]:
add_three(10, 20, 30, 40)

TypeError: add_three() takes from 0 to 3 positional arguments but 4 were given