In [1]:
# for loop

# it's an iterator based loop
# for loop steps through the items/elements of an iterable object/datatype (str, list, tuple, set, dict) and
# executes the block of code repeatedly for a number of times equal to the number of elements of that iterable object!
# or for loops repeats itself number of times equal to the length of the iterable object

In [2]:
# for var in iterable_object:
#     statement1
#     statement2
#     ...
#     statementN

In [3]:
# for each element of the iterable_object, it stores the element of it in an arbitary variable 'var' and executes
# the block of statmenets until all the elements are exhausted!

In [4]:
profits = [10.5, 9.0, 11.5, 13.5]

In [5]:
type(profits)

list

In [6]:
profits

[10.5, 9.0, 11.5, 13.5]

In [7]:
profits[0]

10.5

In [8]:
profits[1]

9.0

In [9]:
profits[2]

11.5

In [10]:
profits[3]

13.5

In [11]:
for p in profits:
    print(p)

10.5
9.0
11.5
13.5

In [12]:
for profit in profits:
    print(profit)

10.5
9.0
11.5
13.5

In [13]:
t1 = (10, -4, 'Hello', True, None, 'Python')

In [14]:
t1

(10, -4, 'Hello', True, None, 'Python')

In [15]:
type(t1)

tuple

In [16]:
for i in t1:
    print(i)

10
-4
Hello
True
None
Python

In [17]:
str1 = "Hello World"

In [18]:
str1

'Hello World'

In [19]:
type(str1)

str

In [20]:
for character in str1:
    print(character)

H
e
l
l
o

W
o
r
l
d

In [21]:
t1

(10, -4, 'Hello', True, None, 'Python')

In [22]:
t1[2::1]

('Hello', True, None, 'Python')

In [23]:
for i in t1[2::1]:
    print(i)

Hello
True
None
Python

In [24]:
t2 = t1[2::1]

In [25]:
t2

('Hello', True, None, 'Python')

In [26]:
for i in t2:
    print(i)

Hello
True
None
Python

In [27]:
for i in str1:
    print(i)

H
e
l
l
o

W
o
r
l
d

In [28]:
t1

(10, -4, 'Hello', True, None, 'Python')

In [29]:
for i in t1:
    print(i)

10
-4
Hello
True
None
Python

In [30]:
for i in t1[::-1]:
    print(i)

Python
None
True
Hello
-4
10

In [31]:
t1

(10, -4, 'Hello', True, None, 'Python')

In [32]:
t1[::2]

(10, 'Hello', None)

In [33]:
for i in t1[::2]:
    print(i)

10
Hello
None

In [34]:
l1 = [10, 20, 30, [1,2,3,4], -1, -2]

In [35]:
l1

[10, 20, 30, [1, 2, 3, 4], -1, -2]

In [36]:
for i in l1:
    print(i)

10
20
30
[1, 2, 3, 4]
-1
-2

In [37]:
t1

(10, -4, 'Hello', True, None, 'Python')

In [38]:
for i in t1:
    print("Hello")

Hello
Hello
Hello
Hello
Hello
Hello

In [39]:
len(t1)

6

In [40]:
for i in t1:
    print("vfkjbhuvbfyvhgb")

vfkjbhuvbfyvhgb
vfkjbhuvbfyvhgb
vfkjbhuvbfyvhgb
vfkjbhuvbfyvhgb
vfkjbhuvbfyvhgb
vfkjbhuvbfyvhgb

In [41]:
for i in t1:
    print("Hello", i)

Hello 10
Hello -4
Hello Hello
Hello True
Hello None
Hello Python

In [42]:
for i in t1:
    print("Hello")
    print(i)

Hello
10
Hello
-4
Hello
Hello
Hello
True
Hello
None
Hello
Python

In [43]:
for i in t1:
    print("Hello")
    print(i)
    print("==========================")

Hello
10
==========================
Hello
-4
==========================
Hello
Hello
==========================
Hello
True
==========================
Hello
None
==========================
Hello
Python
==========================

In [44]:
set1 = {0, 6, 'Bye', None, 'Python'}

In [45]:
set1

{0, 6, 'Bye', None, 'Python'}

In [46]:
for i in set1:
    print(i)

0
Bye
Python
6
None

In [47]:
student1 = {'roll': 101, 'name': 'Jack', 'percent': 78.5}

In [48]:
student1

{'roll': 101, 'name': 'Jack', 'percent': 78.5}

In [49]:
for i in student1:
    print(i)

roll
name
percent

In [51]:
# If we run a for loop directly on a dictionary, keys will be fetched.

In [52]:
student1.keys()

dict_keys(['roll', 'name', 'percent'])

In [53]:
for k in student1.keys():
    print(k)

roll
name
percent

In [55]:
for v in student1.values():
    print(v)

101
Jack
78.5

In [57]:
student1

{'roll': 101, 'name': 'Jack', 'percent': 78.5}

In [58]:
profits

[10.5, 9.0, 11.5, 13.5]

In [59]:
for profit in profits:
    print(profit)

10.5
9.0
11.5
13.5

In [60]:
# Profits for quarter 1 is 10.5
# Profits for quarter 2 is 9.0
# Profits for quarter 3 is 11.5
# Profits for quarter 4 is 13.5

In [61]:
for profit in profits:
    print(f"Profits of quarter 1 is {profit}")

Profits of quarter 1 is 10.5
Profits of quarter 1 is 9.0
Profits of quarter 1 is 11.5
Profits of quarter 1 is 13.5

In [63]:
quarter = 1

for profit in profits:
    print(f"Profits of quarter {quarter} is {profit}")

Profits of quarter 1 is 10.5
Profits of quarter 1 is 9.0
Profits of quarter 1 is 11.5
Profits of quarter 1 is 13.5

In [64]:
quarter = 1

for profit in profits:
    print(f"Profits of quarter {quarter} is {profit}")
    quarter += 1

Profits of quarter 1 is 10.5
Profits of quarter 2 is 9.0
Profits of quarter 3 is 11.5
Profits of quarter 4 is 13.5

In [65]:
quarter = 1

quarter += 1
for profit in profits:
    print(f"Profits of quarter {quarter} is {profit}")

Profits of quarter 2 is 10.5
Profits of quarter 2 is 9.0
Profits of quarter 2 is 11.5
Profits of quarter 2 is 13.5

In [66]:
# Print the elements of a list using while loop

In [67]:
# Indexing starts from 0 to len-1

In [68]:
profits

[10.5, 9.0, 11.5, 13.5]

In [69]:
index = 0

while index < len(profits):
    print(f"Index: {index}")
    index += 1

Index: 0
Index: 1
Index: 2
Index: 3

In [70]:
index = 0

while index < len(profits):
    # print(f"Index: {index}")
    print(profits[index])
    index += 1

10.5
9.0
11.5
13.5

In [71]:
index = 0

while index < len(profits):
    print(f"Index: {index}, Profit: {profits[index]}")
    index += 1

Index: 0, Profit: 10.5
Index: 1, Profit: 9.0
Index: 2, Profit: 11.5
Index: 3, Profit: 13.5

In [73]:
index = 0

while index < len(profits):
    profit = profits[index]
    print(f"Index: {index}, Profit: {profit}")
    index += 1

Index: 0, Profit: 10.5
Index: 1, Profit: 9.0
Index: 2, Profit: 11.5
Index: 3, Profit: 13.5

In [74]:
# Profits for quarter 1 is 10.5
# Profits for quarter 2 is 9.0
# Profits for quarter 3 is 11.5
# Profits for quarter 4 is 13.5

In [75]:
index = 0

while index < len(profits):
    profit = profits[index]
    quarter = index + 1
    print(f"Profits for quarter {quarter} is {profit}")
    index += 1

Profits for quarter 1 is 10.5
Profits for quarter 2 is 9.0
Profits for quarter 3 is 11.5
Profits for quarter 4 is 13.5

In [76]:
student1

{'roll': 101, 'name': 'Jack', 'percent': 78.5}

In [77]:
for k in student1:
    print(k)

roll
name
percent

In [78]:
for k in student1:
    v = student1[k]
    print(f"Key: {k}, Value: {v}")

Key: roll, Value: 101
Key: name, Value: Jack
Key: percent, Value: 78.5

In [79]:
# range
# used to generate a range of integers

In [80]:
# range(start, stop, step)

In [81]:
r1 = range(10, 20, 1)

In [82]:
print(r1)

range(10, 20)

In [83]:
list(r1)

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [84]:
tuple(r1)

(10, 11, 12, 13, 14, 15, 16, 17, 18, 19)

In [85]:
set(r1)

{10, 11, 12, 13, 14, 15, 16, 17, 18, 19}

In [86]:
type(r1)

range

In [87]:
for i in r1:
    print(i)

10
11
12
13
14
15
16
17
18
19

In [88]:
for i in range(10, 20, 2):
    print(i)

10
12
14
16
18

In [89]:
for i in range(10, 30, 4):
    print(i)

10
14
18
22
26

In [90]:
for i in range(10, 5, 1):
    print(i)

In [91]:
list(range(10, 5, 1))

[]

In [92]:
for i in range(10, 5, -1):
    print(i)

10
9
8
7
6

In [93]:
for i in range(10, 4, -1):
    print(i)

10
9
8
7
6
5

In [94]:
for i in range(10, 15):
    print(i)

10
11
12
13
14

In [95]:
for i in range(10.5, 15.5):
    print(i)

TypeError: 'float' object cannot be interpreted as an integer

In [96]:
# step = 1 by default

In [97]:
for i in range(5):
    print(i)

0
1
2
3
4

In [98]:
# start = 0 by default

In [99]:
# stop is mandatory!!!!

In [100]:
for i in range(5): # start = 0, stop = 5, step = 1
    print(i)

0
1
2
3
4

In [101]:
help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

In [102]:
for i in range(5):
    print(i)

0
1
2
3
4

In [103]:
len(profits)

4

In [104]:
profits

[10.5, 9.0, 11.5, 13.5]

In [105]:
for i in range(len(profits)):
    print(i)

0
1
2
3

In [106]:
for i in range(len(profits)):
    print(profits[i])

10.5
9.0
11.5
13.5

In [107]:
for p in profits:
    print(p)

10.5
9.0
11.5
13.5

In [108]:
t1

(10, -4, 'Hello', True, None, 'Python')

In [110]:
for i in range(len(t1)):
    print(i)

0
1
2
3
4
5

In [111]:
# in operator can be used with range()

In [112]:
15 in range(10, 20)

True

In [113]:
15 in range(10, 20, 2)

False

In [114]:
for i in range(5, -5, -2):
    print(i)

5
3
1
-1
-3

In [116]:
for i in range(0, -5, -1):
    print(i)

0
-1
-2
-3
-4

In [117]:
for i in range(-5):
    print(i)

In [118]:
for i in range(100, -5):
    print(i)

In [119]:
# break

In [120]:
# it is a keyword which is used to exit/terminate the loop

In [121]:
for i in range(10, 20, 1):
    print(i)

10
11
12
13
14
15
16
17
18
19

In [122]:
for i in range(10, 20, 1):
    print(i)
    if i == 15:
        break

10
11
12
13
14
15