In [1]:
d1 = {'A': 65, 'B': 66, 'a': 97, '*': 42}

In [2]:
d1

{'A': 65, 'B': 66, 'a': 97, '*': 42}

In [3]:
for i in d1:
    print(i)

A
B
a
*

In [4]:
for i in d1.keys():
    print(i)

A
B
a
*

In [5]:
for i in d1.values():
    print(i)

65
66
97
42

In [7]:
d1

{'A': 65, 'B': 66, 'a': 97, '*': 42}

In [8]:
d1['B']

66

In [9]:
for i in d1:
    print(i, d1[i])

A 65
B 66
a 97
* 42

In [10]:
# break

In [11]:
l1 = [10, 9, 4, -4, 8, 3]

In [12]:
l1

[10, 9, 4, -4, 8, 3]

In [13]:
for i in l1:
    print(i)
    if i < 0:
        break

10
9
4
-4

In [14]:
# continue
# keyword used to skip the current iteration in the loop and gives the control to the next iteration

In [15]:
l1

[10, 9, 4, -4, 8, 3]

In [16]:
for i in l1:
    print(i)

10
9
4
-4
8
3

In [17]:
for i in l1:
    if i < 0:
        continue
    else:
        print(i)

10
9
4
8
3

In [18]:
for i in l1:
    if i < 0:
        continue
    print(i)

10
9
4
8
3

In [19]:
for i in l1:
    if i < 0:
        break
    print(i)

10
9
4

In [20]:
l2 = [0, 4, -1, 5, -3, -8, 6, -1, -3, -4]

In [21]:
for i in l2:
    if i < 0:
        continue
    print(i)

0
4
5
6

In [22]:
# Some examples on loops

In [23]:
l1

[10, 9, 4, -4, 8, 3]

In [24]:
sum(l1)

30

In [25]:
help(sum)

Help on built-in function sum in module builtins:

sum(iterable, /, start=0)
    Return the sum of a 'start' value (default: 0) plus an iterable of numbers

    When the iterable is empty, return the start value.
    This function is intended specifically for use with numeric values and may
    reject non-numeric types.

In [26]:
# To add all the numbers of list l1 with using the sum() and using for loop

In [27]:
l1

[10, 9, 4, -4, 8, 3]

In [28]:
for i in l1:
    print(i)

10
9
4
-4
8
3

In [29]:
for i in l1:
    total = total + i
    
print(total)

NameError: name 'total' is not defined

In [30]:
total = 0
for i in l1:
    total = total + i
    
print(total)

30

In [31]:
# Nested loops

In [32]:
# loop inside a loop

In [33]:
for i in range(3):
    print(i)

0
1
2

In [34]:
for i in range(3):
    for j in range(2):
        print(i, j)

0 0
0 1
1 0
1 1
2 0
2 1

In [35]:
for i in range(3):
    for j in range(2):
        for k in range(2):
            print(i, j, k)

0 0 0
0 0 1
0 1 0
0 1 1
1 0 0
1 0 1
1 1 0
1 1 1
2 0 0
2 0 1
2 1 0
2 1 1

In [36]:
for i in range(3):
    print("Inside i loop")
    for j in range(2):
        print("Inside j loop")
        for k in range(2):
            print("Inside k loop")
            print(i, j, k)

Inside i loop
Inside j loop
Inside k loop
0 0 0
Inside k loop
0 0 1
Inside j loop
Inside k loop
0 1 0
Inside k loop
0 1 1
Inside i loop
Inside j loop
Inside k loop
1 0 0
Inside k loop
1 0 1
Inside j loop
Inside k loop
1 1 0
Inside k loop
1 1 1
Inside i loop
Inside j loop
Inside k loop
2 0 0
Inside k loop
2 0 1
Inside j loop
Inside k loop
2 1 0
Inside k loop
2 1 1

In [37]:
for i in range(3):
    for j in range(2):
        print(i, j, end='')

0 00 11 01 12 02 1

In [39]:
for i in range(3):
    for j in range(2):
        print(i, j, sep='', end=' ')

00 01 10 11 20 21