In [1]:
# Pandas is a Python library
# It provides data structures and functions that works with structured or tabular data

In [2]:
# Pandas is designed to work with heterogeneous data

https://pandas.pydata.org/

In [3]:
import pandas as pd

In [4]:
# Series - 1D structure

In [5]:
s1 = pd.Series([10, 20, 30, 40, 50])

In [6]:
print(s1)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [8]:
l1 = [10, 20, 30, 40, 50]

In [9]:
l1

[10, 20, 30, 40, 50]

In [10]:
type(s1)

pandas.core.series.Series

In [12]:
i1 = s1.index

In [13]:
i1

RangeIndex(start=0, stop=5, step=1)

In [14]:
type(i1)

pandas.core.indexes.range.RangeIndex

In [16]:
v1 = s1.values

In [17]:
v1

array([10, 20, 30, 40, 50], dtype=int64)

In [18]:
type(v1)

numpy.ndarray

In [19]:
s1

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [20]:
l1

[10, 20, 30, 40, 50]

In [21]:
s2 = pd.Series(l1, index=[1, 2, 3, 4, 5])

In [22]:
s2

1    10
2    20
3    30
4    40
5    50
dtype: int64

In [23]:
i2 = s2.index

In [24]:
i2

Int64Index([1, 2, 3, 4, 5], dtype='int64')

In [25]:
type(i2)

pandas.core.indexes.numeric.Int64Index

In [26]:
v2 = s2.values

In [27]:
v2

array([10, 20, 30, 40, 50], dtype=int64)

In [28]:
s3 = pd.Series(l1, index=['a', 'b', 'c', 'd', 'e'])

In [29]:
s3

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [30]:
i3 = s3.index

In [31]:
i3

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [32]:
type(i3)

pandas.core.indexes.base.Index

In [33]:
s4 = pd.Series([21, 38, 15], index=['a', 'b', 'c', 'd'])

ValueError: Length of values (3) does not match length of index (4)

In [34]:
s4 = pd.Series([21, 38, 15], index=['a', 'b'])

ValueError: Length of values (3) does not match length of index (2)

In [36]:
s1

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [37]:
s1[0]

10

In [38]:
s2

1    10
2    20
3    30
4    40
5    50
dtype: int64

In [39]:
s2[4]

40

In [40]:
s3

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [41]:
s3['c']

30

In [42]:
s3[2]

30

In [43]:
s1

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [44]:
s2

1    10
2    20
3    30
4    40
5    50
dtype: int64

In [45]:
s2[0]

KeyError: 0

In [46]:
# loc => outer index
# iloc => inner index

In [47]:
s2

1    10
2    20
3    30
4    40
5    50
dtype: int64

In [48]:
s2.loc[3]

30

In [49]:
s2.iloc[3]

40

In [50]:
sub1 = pd.Series([77.0, 81.0, 89.5, 91.0, 65.5], index=['Alice', 'Carol', 'Dan', 'Jill', 'John'])

In [51]:
sub1

Alice    77.0
Carol    81.0
Dan      89.5
Jill     91.0
John     65.5
dtype: float64

In [52]:
sub1 = pd.Series([77.0, 81.0, 89.5, 91.0, 65.5], index=['Alice', 'Carol', 'Dan', 'Jill', 'John'], name='English')

In [53]:
sub1

Alice    77.0
Carol    81.0
Dan      89.5
Jill     91.0
John     65.5
Name: English, dtype: float64

In [54]:
sub1.name

'English'

In [55]:
s1

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [56]:
s1.name

In [57]:
print(s1.name)

None

In [58]:
sub2 = pd.Series([92.5, 81.5, 84.0, 77.5, 71.0], index=['Alice', 'Carol', 'Dan', 'Jill', 'John'], name='Maths')

In [59]:
sub2

Alice    92.5
Carol    81.5
Dan      84.0
Jill     77.5
John     71.0
Name: Maths, dtype: float64

In [60]:
sub1

Alice    77.0
Carol    81.0
Dan      89.5
Jill     91.0
John     65.5
Name: English, dtype: float64

In [61]:
sub2.loc['Dan']

84.0

In [62]:
sub1

Alice    77.0
Carol    81.0
Dan      89.5
Jill     91.0
John     65.5
Name: English, dtype: float64

In [63]:
sub1.loc['Dan'] = 90

In [64]:
sub1

Alice    77.0
Carol    81.0
Dan      90.0
Jill     91.0
John     65.5
Name: English, dtype: float64

In [65]:
sub2

Alice    92.5
Carol    81.5
Dan      84.0
Jill     77.5
John     71.0
Name: Maths, dtype: float64

##

In [66]:
sub1 + sub2

Alice    169.5
Carol    162.5
Dan      174.0
Jill     168.5
John     136.5
dtype: float64

In [68]:
(sub1 + sub2) / 2

Alice    84.75
Carol    81.25
Dan      87.00
Jill     84.25
John     68.25
dtype: float64

In [69]:
sub3 = pd.Series([92.5, 81.5, 84.0, 77.5, 71.0], index=['Alice', 'Jill', 'Dan', 'Jill', 'John'], name='Physics')

In [70]:
sub3

Alice    92.5
Jill     81.5
Dan      84.0
Jill     77.5
John     71.0
Name: Physics, dtype: float64

In [71]:
sub3.loc['Jill']

Jill    81.5
Jill    77.5
Name: Physics, dtype: float64

In [73]:
sub3.iloc[3]

77.5

In [74]:
sub3

Alice    92.5
Jill     81.5
Dan      84.0
Jill     77.5
John     71.0
Name: Physics, dtype: float64

In [75]:
sub3.loc['Jill']

Jill    81.5
Jill    77.5
Name: Physics, dtype: float64

In [76]:
sub3.loc['Jill'].iloc[1]

77.5

In [77]:
sub1

Alice    77.0
Carol    81.0
Dan      90.0
Jill     91.0
John     65.5
Name: English, dtype: float64

In [78]:
sub2

Alice    92.5
Carol    81.5
Dan      84.0
Jill     77.5
John     71.0
Name: Maths, dtype: float64

In [81]:
sub4 = pd.Series([77.5, 89.0, 78.5, 81.5], index=['Carol', 'Mark', 'John', 'Sam'], name='Elective')

In [82]:
sub4

Carol    77.5
Mark     89.0
John     78.5
Sam      81.5
Name: Elective, dtype: float64

In [83]:
sub1

Alice    77.0
Carol    81.0
Dan      90.0
Jill     91.0
John     65.5
Name: English, dtype: float64

In [84]:
sub1 + sub4

Alice      NaN
Carol    158.5
Dan        NaN
Jill       NaN
John     144.0
Mark       NaN
Sam        NaN
dtype: float64

In [85]:
sub1

Alice    77.0
Carol    81.0
Dan      90.0
Jill     91.0
John     65.5
Name: English, dtype: float64

In [86]:
sub1 + 1

Alice    78.0
Carol    82.0
Dan      91.0
Jill     92.0
John     66.5
Name: English, dtype: float64

In [87]:
sub1

Alice    77.0
Carol    81.0
Dan      90.0
Jill     91.0
John     65.5
Name: English, dtype: float64

In [88]:
sub1 = sub1 + 1

In [89]:
sub1

Alice    78.0
Carol    82.0
Dan      91.0
Jill     92.0
John     66.5
Name: English, dtype: float64

In [90]:
sub1 * 2

Alice    156.0
Carol    164.0
Dan      182.0
Jill     184.0
John     133.0
Name: English, dtype: float64

In [91]:
sub1/5

Alice    15.6
Carol    16.4
Dan      18.2
Jill     18.4
John     13.3
Name: English, dtype: float64

In [92]:
sub1 - 5

Alice    73.0
Carol    77.0
Dan      86.0
Jill     87.0
John     61.5
Name: English, dtype: float64

In [93]:
sub1

Alice    78.0
Carol    82.0
Dan      91.0
Jill     92.0
John     66.5
Name: English, dtype: float64

In [94]:
sub1 > 90

Alice    False
Carol    False
Dan       True
Jill      True
John     False
Name: English, dtype: bool

In [95]:
sub1[sub1 > 90]

Dan     91.0
Jill    92.0
Name: English, dtype: float64

In [96]:
sub1

Alice    78.0
Carol    82.0
Dan      91.0
Jill     92.0
John     66.5
Name: English, dtype: float64

In [97]:
sub1[['Carol', 'John']]

Carol    82.0
John     66.5
Name: English, dtype: float64

In [99]:
sub3

Alice    92.5
Jill     81.5
Dan      84.0
Jill     77.5
John     71.0
Name: Physics, dtype: float64

In [100]:
sub3[['Jill', 'John']]

Jill    81.5
Jill    77.5
John    71.0
Name: Physics, dtype: float64

In [101]:
# Creating a series using a dictionary

In [102]:
ipl_cups = {'SRH': 1, 'KKR': 2, 'MI': 5, 'CSK': 5, 'RCB': 0}

In [103]:
ipl_cups

{'SRH': 1, 'KKR': 2, 'MI': 5, 'CSK': 5, 'RCB': 0}

In [104]:
ser1 = pd.Series(ipl_cups)

In [105]:
ser1

SRH    1
KKR    2
MI     5
CSK    5
RCB    0
dtype: int64

In [107]:
ser2 = pd.Series(ipl_cups, index=['DC', 'CSK', 'RR', 'GT', 'MI', 'LSG'])

In [108]:
ser2

DC     NaN
CSK    5.0
RR     NaN
GT     NaN
MI     5.0
LSG    NaN
dtype: float64

In [109]:
ser3 = pd.Series([10, 10.5, 'hi'])

In [110]:
ser3

0      10
1    10.5
2      hi
dtype: object

In [111]:
ser3.loc[0]

10

In [112]:
type(ser3.loc[0])

int

In [113]:
ser3.loc[1]

10.5

In [114]:
ser3.loc[2]

'hi'

In [115]:
ser4 = pd.Series([10, 10.5, 20])

In [116]:
ser4

0    10.0
1    10.5
2    20.0
dtype: float64

In [117]:
sub1

Alice    78.0
Carol    82.0
Dan      91.0
Jill     92.0
John     66.5
Name: English, dtype: float64

In [118]:
sub4

Carol    77.5
Mark     89.0
John     78.5
Sam      81.5
Name: Elective, dtype: float64

In [119]:
total = sub1 + sub4

In [120]:
total

Alice      NaN
Carol    159.5
Dan        NaN
Jill       NaN
John     145.0
Mark       NaN
Sam        NaN
dtype: float64

In [121]:
total.isnull()

Alice     True
Carol    False
Dan       True
Jill      True
John     False
Mark      True
Sam       True
dtype: bool

In [122]:
total.notnull()

Alice    False
Carol     True
Dan      False
Jill     False
John      True
Mark     False
Sam      False
dtype: bool

In [123]:
total.isnull()

Alice     True
Carol    False
Dan       True
Jill      True
John     False
Mark      True
Sam       True
dtype: bool

In [124]:
sub1

Alice    78.0
Carol    82.0
Dan      91.0
Jill     92.0
John     66.5
Name: English, dtype: float64

In [125]:
sub1.sum()

409.5

In [126]:
total.isnull()

Alice     True
Carol    False
Dan       True
Jill      True
John     False
Mark      True
Sam       True
dtype: bool

In [127]:
total.isnull().sum()

5